{
  "ecmaFeatures": {
    "modules": true,
    "spread" : true,
    "restParams" : true
  },
  "env" : {
    "browser" : true,
    "node" : true,
    "es6" : true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "rules" : {
    "no-unused-vars" : 2,
    "no-undef" : 2,
    "no-new": 0
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb"
  ],
  "plugins": [
    "vue"
  ]
}